.Input {
  width: 100%;
  padding: 9px 0 2px 0;
  box-sizing: border-box;
}

.Label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

.Label.Secondary {
  color: #7552A8;
}

.InputElement {
  width: 100%;
  height: 29px;
  outline: none;
  border: none;
  border-bottom: 4px solid #c5c5c5;
  background-color: #f7ecff;
  font: inherit;
  padding: 15px 12px;
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
}

.InputElement:focus {
  outline: none;
  border-bottom: 4px solid #d2b5ff;
}

.Invalid {
  border-bottom: 4px solid #f53030;
}

.ErrorMessage {
  color: #f53030;
  padding-left: 5px;
  height: 19px;
}

.DatePicker {
  width: 100%;
  display: inline-block;
}

.Textarea {
  height: 100%;
  resize: vertical;
}

.datePicker {
  width: 100%;
}